<p>
  <strong>Name:</strong>
  <%= @primecategory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @primecategory.description %>
</p>

<%= link_to 'Edit', edit_primecategory_path(@primecategory) %> |
<%= link_to 'Back', primecategories_path %>
