<h1>Editing Primecategory</h1>

<%= render 'form', primecategory: @primecategory %>

<%= link_to 'Show', admin_primecategory_path(@primecategory) %> |
<%= link_to 'Back', admin_primecategories_path %>
